body{
  background: whitesmoke;
  width: auto;
}

div{
  margin-left: 150px;
  margin-bottom: 25px;
}

img{
  width: 250px;
  height: 430px;
  margin-right: 90px;
  border: 4px gray solid;
  padding: 9px;
}
